.content-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width:1150px;
  overflow: hidden;
  margin-left:280px;
}

/* 왕 선택 버튼 */
.king-buttons button {
  margin-right: 10px;
  background-color: #442F11; /* Change to your desired background color */
  color: white; /* Change to your desired text color */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.king-buttons button:hover {
  background-color: #E7E2D7;
  /* background-color: #D7CABF */
}

.selected-king h2{
  margin-top: 10px;
}


/* 로딩 메시지 디자인
.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */


/* 유튜브, 왓챠 컨텐츠 전체 디자인 */
.watcha, .youtube{
  flex: 1;
  padding: 20px;
}

.watcha h4{
  font-weight: bold;
}
.youtube h4{
  font-weight: bold;
}

/* 왓챠 */
.horizontal-list {
  display: flex;
  overflow-x: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horizontal-list-item {
  flex: 0 0 auto;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  min-width: 300px;
}

.horizontal-list-item img {
  max-width: 100px;
  margin-right: 10px;
}

.horizontal-list-item h3 {
  font-size: 16px;
  margin: 0;
}

.horizontal-list-item small,
.horizontal-list-item p {
  font-size: 14px;
  color: #777;
  margin: 5px 0 0;
}


/* 유튜브 */
.vertical-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vertical-list-item {
  flex: 0 0 auto;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  min-width: 300px;
}

.vertical-list-item img {
  max-width: 100px;
  margin-right: 10px;
}

.vertical-list-item h3 {
  font-size: 16px;
  margin: 0;
}

.vertical-list-item small,
.vertical-list-item p {
  font-size: 14px;
  color: #777;
  margin: 5px 0 0;
}

.vertical-list-item a {
  color: #333; /* Change the link color to your desired color */
  text-decoration: none;
}

.vertical-list-item a:hover {
  text-decoration: underline;
  color: #333;
}