.home {
  background-color: #FFFFFF;  
}


/* 인물정보 */
.person-info {
  background-color: #F3F2EB;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 가운데 정렬 */
  width:1100px;
  height:200px;
  padding: 20px;
  margin-top:20px;
  margin-bottom: 20px;
  margin-left:50px;
  border-radius: 10px;
}

.person-info2{
  background-color: #F3F2EB;
  justify-content: center; /* 가운데 정렬 */
  width:800px;
  height: 140px;
  margin-left:150px;

}

.sejongImage{
  width: 100px;
  height: 100px;
  margin-left: 50px;
}
.taejongImage{
  width: 100px;
  height: 100px;
  margin-left: 100px;
}
.yeongjoImage{
  width: 100px;
  height: 100px;
  margin-left: 150px;
}

.home-container {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 가운데 정렬 */
  flex-wrap: wrap;
}

/* 공부방 */
.study-room {
  background-color: #F3F2EB;
  padding: 20px;
  width: 400px;
  height: 400px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 10px;
}

.sejong-room {
  background-color: #fff;
  width: 350px;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
}

.taejo-room {
  background-color: #fff;
  width: 350px;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
}

.yeongjo-room {
  background-color: #fff;
  width: 350px;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
}

/* 추천콘텐츠 */
.recommended-content {
  background-color: #F3F2EB;
  width: 400px;
  height: 400px;
  padding: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 10px;
}
