/* home.css */
.home {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* 인물정보 */
.person-info {
  background-color: #F3F2EB;
  justify-content: center;
  align-items: center;
  max-width: 1100px; 
  width: 100%; 
  height: 200px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.person-info2 {
  background-color: #F3F2EB;
  justify-content: center;
  max-width: 800px; 
  width: 80%; 
  height: 140px;
  margin-left: 100px;
  margin-right: 50px;
}

.sejongImage, .taejongImage, .yeongjoImage {
  width: 100px;
  height: 100px;
  margin-left: 100px; 
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px; 
  margin-top: 20px;
}

/* 공부방 */
.study-room {
  background-color: #F3F2EB;
  padding: 20px;
  flex: 1; 
  min-width: 300px; 
  max-width: 500px; 
  margin: 10px; 
  display: inline-block;
  border-radius: 10px;
  width:1000px;
  height: 370px;
}

.sejong-room, .taejo-room, .yeongjo-room {
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-top:20px;
}

/* 추천콘텐츠 */
.recommended-content {
  background-color: #F3F2EB;
  flex: 1; 
  min-width: 300px; 
  max-width: 500px; 
  padding: 20px;
  margin: 10px; 
  display: inline-block;
  border-radius: 10px;
  width: 1000px;
}
