.chat-room {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

/* 대화 상대 */
.chat-header-card {
  position: fixed;
  background-color: #442F11;
  color: white;
  border-radius: 5px ;
  height: 40px;
  top: 20px;
  left: 270px;
  width: calc(96% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 대화말풍선 전체 박스 */
.chat-messages-container{
  position: fixed;
  display: flex;
  height: 40px;
  top: 20px;
  left: 270px;
  width: calc(96% - 250px);
}

/* 메시지 주고받는 부분 */
.chat-messages{
  position:fixed;
  height: 530px;
  width: calc(96% - 250px);
  margin-top: 65px;
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  
}

/* 메시지 말풍선 */
.message  
{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  
/* position: relative;
height: 50px;
padding: 10px;
margin-left:100px;
margin-top:10px;
background: #DEDCDA;
border-radius: 10px;
max-width: 100%;
width:fit-content; */

/* display:inline-block; 나란히 배치 
flex-direction: column;
white-space: nowrap; 
 */
}


.text.bot {
  align-self: flex-start;
  /* background-color: #f0f0f0; */
  background-color: #ffffff;
  display: flex;
}

.avatar-container{
  margin-right:10px;
}

.text.user{
  align-self: flex-end;
}

.message .text.bot2{
  word-wrap: break-word;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #F3F2EB;

  display: inline-block;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;

}

.message .text.user{
  word-wrap: break-word;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #DEDCDA;

  display: inline-block;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;

}

.text.bot.quiz-mode {
  background-color: #f3f3f3; /* 퀴즈 말풍선의 배경색 */
  font-size: 16px; /* 퀴즈 말풍선의 폰트 크기 */
}


/* 퀴즈 모드에서 사용자 말풍선 색상 */
.quiz .text.user {
  background-color: #F5DEB3; 
}

/* 퀴즈 모드에서 봇 말풍선 색상 */
.quiz .text.bot2 {
  background-color: #524234ac; 
}


/* 메시지 입력 부분  */
.chat-input {
  position: fixed;
  bottom: 0;
  left: 270px;
  margin-bottom: 10px;
  width: calc(96% - 250px);
}

/* 전송, 퀴즈 버튼 */
.btn.btn-chat {
  background-color: #EBE8DC;
}

.form-control::placeholder{
  font-size: 18px; /* 원하는 글자 크기로 수정하세요 */
}

.quiz-user {
  display: flex;
  justify-content: flex-end; 
}

/* 퀴즈 종료 버튼 스타일 */
.btn-quiz-end {
  position: fixed;
  bottom: 0;
  left: 270px;
  margin-bottom: 60px;
  width: calc(96% - 250px);
}


